.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  
    .labelContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 8px;
  
      .labelWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
  
        .tag {
          font-family: "OpenSans Regular";
          text-transform: uppercase;
          font-size: 8px;
          color: #1aab27;
          padding: 2px 4px;
          background-color: #212121;
          border-radius: 2px;
        }
      }
  
      .icon {
        width: 24px;
        height: 24px;
        right: 0;
      }
  
      .text {
        font-family: "OpenSans SemiBold";
        font-size: 14px;
        color: #e1e1e1;
      }
    }
  
    .inputContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 8px;
  
      .switch {
        width: 24px;
      }
  
      .select {
        width: 115px;
        height: 28px;
        border: 1px solid #66666628;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .option {
          margin: 4px 0;
          padding: 8px;
          display: "flex";
          justify-content: "space-between";
          width: 100%;
          align-items: "center";
          overflow: hidden;
  
          .flag {
            width: 16px;
            height: auto;
            border-radius: 2px;
            margin-right: 4px;
          }
  
  
        }
      }
    }
  }
  